.games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.games section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 37, 36, 0.959);
}